{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block page_content %}
<div class="page-header">
    <p>Quiz: <h1>{{ quizz.name }}</h1> </p>
</div>

{% if quiz_done %}
<div class="alert alert-success" role="alert">Quiz Completed -- (1/5)</div>
{% endif %}

{% if quizz.questions %}
    {% for q in quizz.questions %}
        {% if q.id in done_qs %}
            <a class="list-group-item list-group-item-action disabled">{{ q.text }}</a>
        {% else %}
            <a class="list-group-item list-group-item-action" href="/questions/{{ q.id }}">{{ q.text }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
<button type="button" class="btn btn-light" onclick="location.href='/quizzes/'">Back</button>
{% endblock %}